[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs-material = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[dev-packages]

[requires]
python_version = "3.10"
